/Task1/build-Source-Desktop_Qt_5_15_2_MinGW_32_bit-Debug
/Task1/build-Source-Desktop_Qt_6_8_3_MinGW_64_bit-Debug
/Task1/build-Source-Desktop_Qt_6_8_3_MinGW_64_bit-Release
/Task2/build-Source-Desktop_Qt_5_15_2_MSVC2019_64bit_Static-Debug
/Task2/build-Source-Desktop_Qt_5_15_2_MSVC2019_64bit_Static-Release
/build-Task2-Latest-Windows-Desktop_Qt_6_9_0_MinGW_64_bit-Debug
/build-Task2-Latest-Windows-Desktop_Qt_6_9_0_MinGW_64_bit-Release
/Task1/Bin
Task1/Source/CMakeLists.txt.user
Task2/Source/CMakeLists.txt.user
/Old/Task1/Bin
/Task1/Bin
/Old/Task2/Bin
/Task_1/.vs
/Task_1/x64
*.user
/Task_1/Task_1
